@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

*, 
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 50%;
}
body{
    font-family: 'Oswald', sans-serif;
    /* position: absolute; */
}
p{
    color: #3B4050;
    line-height: 40px;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

/* ------Typography------ */
.list__item{
    list-style: none;
}
.nav__link{
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}
.nav__link:hover,
.nav__link:focus{
    opacity: 0.6;
}
/* change .hero__header font size in bigger desktops */
.hero__header{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    color: #fff;
}


.hero__text{
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.sub__hero--header{
    color: #A59678;
    font-size: 3rem;

}
.sub__hero--text{
    color: #3B4050;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}
.section__header{
    color: #A59678;
    font-size: 3.6rem;

}
.section__text{
    font-size: 2.1rem;
    font-family: 'Montserrat', sans-serif;

}
.aside__block--title{
    font-size: 3rem;
    color: #fff;
}
.aside__block--text{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}
.footer__header{
    font-size: 3.4rem;
    color: #fff;
    text-align: center;
}
.footer__sub--header{
    font-size: 2.1rem;
    color: #A59678;
}
.footer__sub--text{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    color: #B1B5BD;
    text-decoration: none;
}
.footer__sub--text:hover,
.footer__sub--text:focus{
    opacity: 0.6;
}
.footer__list{
    list-style: none;
    line-height: 50px;
}
/* ------End of Typography------ */

/* ------Components------ */
.btn{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #fff;
    background-color: #A59678;
    padding: 0.25em 0.75em;
    border-radius: 100px;
}
.btn:hover,
.btn:focus {
    opacity: .75; 
}
.nav__link--btn{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    /* color: #fff; */
    background-color: #A59678;
    padding: 0.25em 0.75em;
    border-radius: 100px;
    font-size: 1.4rem;
}

/* ------End of Components------ */


/* ------General styling------ */
header{
    background-color: #2E323F;
}

/*********** Temporary nav settings: move to media queries later */
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    background-color: #2E323F;
}
.logo{
    width: 100%;
    align-self: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list__item + .list__item{
    padding-top: 4em;
}
/* .nav--secondary{
    padding-left: 2em;
} */
/*********** End of Temporary nav settings: move to media queries later */

.row{
    display: flex;
    flex-direction: column;
}
.hero{
    background-color: #3B4050;
    padding: 7em 0;
}
.hero__text{
    padding: 2em 0;
}
.sub__hero{
    background-color: #F1F1F1;
    padding: 7em 0;
    text-align: center;
}
.sub__hero--text{
    padding: 2em 0;
}
.main__section{
    padding: 7em 0;
    display: flex;
    flex-direction: column;
}
/* .section__header{
    padding-bottom: 0.8em;
} */
.section__text{
    padding: 2em 0;
}
.aside__block{
    background-color: #3B4050;
    padding: 3em;
    text-align: center;
    width: 100%;
}
.aside__block + .aside__block{
    margin-top: 4em;
}
.aside__section{
    display: flex;
    flex-direction: column;
    margin: 3em 0;
}
.footer{
    padding: 4em 0;
    background-color: #3B4050;
}
.footer__header{
    padding-bottom: 1em;
}
.footer__sub{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.footer__about{
    width: 100%;
    padding-bottom: 3em;
}
.footer__extra{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* ------End of General styling------ */


/* --------------Hamburger test----------------- */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #dbdada;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6em;
}
.nav-menu.active {
    left: 0;
}
.nav__link{
    color: #3B4050;
}
.nav__link--btn{
    color: #FFF;
}
.hamburger {
    display: block;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/* -------------- end Hamburger test------------ */


/* ------Media Queries------ */

@media (min-width: 700px){

 /* ------------temp meassure------------ */
    

    .hamburger {
        display: none;
    }
    /* .nav-menu{
        position: absolute;
    } */
    .nav-item {
        margin-left: 5rem;
    }

    .nav__link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #475569;
    }

    .nav__link:hover{
        color: #482ff7;
    }

    /* .nav-logo {
        font-size: 2.1rem;
        font-weight: 500;
        color: #482ff7;
    } */
/* -------------end of temp measure---------------- */

    html{
        font-size: 60%;
    }
    .hero{
        padding: 9em 0;
    }
    .hero__sub{
        align-self: flex-end;
    }
    .hero__header,
    .hero__sub{
        width: 100%;
    }
    .hero__sub{
        margin-left: 4em;
    }
    .row{
        flex-direction: row;
    }
    .aside__section{
        flex-direction: row;
    }
    .aside__block + .aside__block{
        margin-left: 2em;
        margin-top: 0;
    }
    .sub__hero--block + .sub__hero--block{
        margin-left: 3em;
    }

   
}

@media (min-width: 1000px){
    
    html{
        font-size: 62.5%;
    }
    
    .hero__header{
        font-size: 8rem;
    }
    .hero__text{
        font-size: 2.2rem;
    }
    .hero--btn{
        font-size: 2.1rem;
    }
    .main__section{
        flex-direction: row;
    }
    .main__section--block{
        width: 60%;
    }
    .aside__section{
        width: 35%;
    }
    .aside__section{
        flex-direction: column;
        margin-top: 0;
        margin-left: 6em;
    }
    .aside__block + .aside__block{
        margin-left: 0;
        margin-top: 3em;
    }
    .footer__sub{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__about{
        width: 50%;
    }
    .footer__extra{
        width: 40%;
    }
    
}
/* ------End of Media Queries------ */

