@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
*/

*, 
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}